/* Dark Mode */
body {
	background-color: #1B3341 !important;
}

.dashboard-component {
	background-color: #274d63;
}

* {
	color: #FFF;
}

hr {
	border-top: 1px solid rgba(255,255,255,.3) !important;
}

a {
	color: #58b8ef !important;
}

select {
	background-color: #274d63 !important;
}