.container-fluid {
	max-width: 95%;
}

.todo-title, .text-danger, .text-warning, .text-success {
	margin-bottom: 0;
}

.todo-hr {
	margin: 0;
}

#currentTime {
	margin: auto;
	font-size: 3rem;
}

.dashboard-component {
	border-radius: 5px;
	padding: 15px;
	margin: 2vh;
}